body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f8f8f8;
}

h1 {
    color: #333;
}

.ronda {
    margin-top: 20px;
    padding: 10px;
    background-color: #ddd;
    border-radius: 5px;
}

.partido {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
}

.equipo {
    width: 100px;
    text-align: center;
}

.ganador {
    margin: 0 10px;
}

.finalizarPartido {
    margin-left: 10px;
    background-color: green;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
}

.finalizarPartido:disabled {
    background-color: grey;
    cursor: default;
}
