body {
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
}

button {
  padding: 10px 20px;
  margin: 10px;
  background-color: green;
  color: white;
  border: none;
}

button[disabled] {
  background-color: gray;
}

#torneo div {
  margin: 20px;
}

select {
  margin: 10px;
}
